.article-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.article-block-container .article {
  width: calc(33% - 20px);
}

.article-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-content {
  font-size: 16px;
  margin-bottom: 20px;
}

.like__button {
  background-color: black;
  color: gold;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.like__button:hover {
  background-color: gold;
  color: black;
}

.title__articles__button {
  background-color: black;
  color: gold;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.title__articles__button:hover {
  background-color: gold;
  color: black;
}


.title__articles__button a {
  text-decoration: none;
  color: gold;
}

.title__articles__button a:hover {
  color: black;
}