.header {
  background-color: black;
  padding: 15px;
  text-align: center;
  position: relative;
  color: gold;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
  Float: left;
  color: gold;
  text-decoration: none;
}

header ul.nav {
  float: right;
  list-style: none;
  color: gold !important;
  text-decoration: none !important;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
  color: gold !important;
  text-decoration: none !important;
}

header ul.nav li:hover {
  opacity: 0.5;
}

.logo__icon {
  color: gold;
}