footer {
  text-align: center !important;
  margin-top: 100px !important;
  background-color: black !important;
  color: gold !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 60px !important;
}